*{
  margin: 0px;
  padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* shard styles */
main{
  max-width: 1440px;
  margin: 0 auto;
}
.btn-primary{
  color: rgb(255, 255, 255);
  background-color: rgb(255, 144, 14);
  font-weight: 600;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  padding: 21px 25px;
}
.dark-1{
  color: rgb(19, 19, 19);
}
.dark-2{
  color: rgb(66, 66, 66);
}
.dark-3{
  color: rgb(114, 114, 114);
}
.orange{
  color: rgb(255, 144, 14);
}
.display-flex{
  display: flex;
}
.section-title{
  color: rgb(19, 19, 19);
  font-size: 3em;
  font-weight: 700;
  
}
.section-description{
font-size: 16px;
font-weight: 400;
}
/* header section styles */
.header{
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{

}
.nav-item{
  font-size: 1.2em;
  list-style: none;
  margin-right: 30px;
}
.nav-links{
  text-decoration: none;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.banner-container{
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}
.banner-title{
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 4em ;
}
.banner-description{
  font-weight: 400;
  font-size: 1em;
}
.banner-img{
  width: 100%;
}

/* team section styles */
.team{
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.team-container{
  max-width: 530px;
  margin-left: 120px;
}
.team-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.part-1{
  font-weight: 700;
  font-size: 3em ;
}
.part-2{
  font-weight: 700;
  font-size: 3em ;
}
.part-3{
  font-weight: 700;
  font-size: 3em ;
}

/* feature section style */
.feature{
  gap: 100px;
}
#feature-some-style{
  border-left: 5px solid rgba(255, 144, 14, 1.00);
  border-radius: 8px;
  padding: 10px;
  
}

#feature-some-style{
  margin: 5px 0px 5px 0px;
}
.features-card{
  padding: 30px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}
.features-card-title{
  margin-bottom: 20px;
font-size: 1.5rem;
font-weight: 600;
}
.features-card-description{
font-size: 1rem;
}
/* fact styles */
.fact{
  margin-top: 100px;
  margin-bottom: 120px;
}
.fact-card{
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  width: 240px;
  height: 240px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  
}
.fact-title{
  margin-bottom: 20px;
}
.fact-description{
  width: 554px;
  margin-bottom: 100px;
}
.fact-number{
font-weight: 600;
font-size: 2.8rem;
margin: 10px 0px 5px 0px;
}
.fact-name{
font-weight: 600;
font-size: 1.4rem;
margin: 5px 0px 10px 0px;
}
#badge{
  padding: 45px 42px;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -92px;
  margin-top: -180px;
}
#badge-year{
  font-size: 4rem;
  font-weight: 700;
}
/* sponser section styles */
.sponser-title{
text-align: center;
margin-bottom: 20px;
}
.sponser-description{
text-align: center;
margin-bottom: 30px;

}
.sponser-container{
  margin: 0px auto;
  width: 500px;
}

.sponser-brands{
display: grid;
grid-template-columns: repeat(5, 1fr);
}
.sponser-brands{
  margin-bottom: 100px;
}
.sponser-brands img{
  filter: grayscale(100%);
}

/* footer section style */ 
footer{
  background-color: rgb(255, 244, 231);
}
.footer-content{
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  padding: 35px 0 35px 0;
  margin-bottom: 50px;
}

/* responsive section */
@media screen and (max-width: 576px) {
   .navbar, .nav-items, .team, .feature{
    flex-direction: column;
   }

   .team-image, 
   .fact-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   }
   
   .team-container{
    margin-left: 20px;
   }
   .fact-container, .sponser-brands{
    justify-items: center;
    gap: 30px;
   }
   .fact-description, .fact-title{
    width: 320px;
    margin-left: 20px;
    
   }
   .sponser-container{
    width: 100%;
   }
   .sponser-brands{
    grid-template-columns: 1fr;
    gap: 20px;
   }
   .features-badge, .features-image{
    width: 100%;
    
   }
   #badge{
    margin-top: 40px;
    margin: 0 auto;
   }
   .badge-container{
    margin-top: 40px;
    text-align: center;
   }
   .footer-content{
    width: 320px;
    text-align: center;
   }
   
}